controller_manager:
  ros__parameters:
    update_rate: 100

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    balance_controller:
      type: balance_controller/BalanceController

balance_controller:
  ros__parameters:
    joints:
      - Wheel_L_Joint
      - Wheel_R_Joint


