<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- <gazebo>
        <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">

            
            <left_joint>Wheel_L_Joint</left_joint>
            <right_joint>Wheel_R_Joint</right_joint>

         
            <wheel_separation>0.46</wheel_separation>    
            <wheel_diameter>0.25</wheel_diameter>     

           
            <max_wheel_torque>20</max_wheel_torque>
            <max_wheel_acceleration>10.0</max_wheel_acceleration>

           
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>

           
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>

           
            <command_topic>cmd_vel</command_topic>

        </plugin> -->

    <!-- <plugin name="gazebo_ros_joint_state_publisher"
            filename="libgazebo_ros_joint_state_publisher.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>50</updateRate>
            <joint_name>Wheel_L_Joint</joint_name>
            <joint_name>Wheel_R_Joint</joint_name>
            <joint_name>L_Hip_Joint</joint_name>
            <joint_name>R_Hip_Joint</joint_name>
            <joint_name>L_Shin_Joint</joint_name>
            <joint_name>R_Shin_Joint</joint_name>
           
        </plugin> 

        

    </gazebo> -->

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find bpwr)/config/controllers.yaml</parameters>
        </plugin>

    </gazebo>

    <!-- ====================== ROS2_CONTROL INTERFACE ====================== -->
    <ros2_control name="bpwr_system" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <!-- Knee joints -->
        <joint name="L_Hip_Joint">
            <command_interface name="effort" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="R_Hip_Joint">
            <command_interface name="effort" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <!-- Wheels (example) -->
        <joint name="Wheel_L_Joint">
            <command_interface name="effort" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <joint name="Wheel_R_Joint">
            <command_interface name="effort" />
            <state_interface name="position" />
            <state_interface name="velocity" />
        </joint>

        <!-- <sensor name="imu_sensor">
            <state_interface name="orientation.x" />
            <state_interface name="orientation.y" />
            <state_interface name="orientation.z" />
            <state_interface name="orientation.w" />
            <state_interface name="angular_velocity.x" />
            <state_interface name="angular_velocity.y" />
            <state_interface name="angular_velocity.z" />
        </sensor> -->
    </ros2_control>

</robot>